@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    //font-family: 'IBM Plex Mono', monospace;
    font-family: 'Hanken Grotesk Variable', sans-serif;

    backgorund-color: #333333;
}

h1 {
    font-size: 2.5rem;
    font-weight: 100;
    line-height: 1.2;
    text-transform: uppercase;
}

h3 {
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 1.2;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p {
    max-width: 40rem;
}

a:hover {
    text-decoration: none;
}